.headerLink {
  display: inline-block;
  text-decoration: none;
  color: #141010;
}

.headerLink:not(:last-child) {
	margin-right: 50px;
}

.link.active {
  padding: 30px 0px;
  position: relative;
  color: #680747;
}

.link.active::after {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  content: "";
}

.link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #c3195d;
}
