.form {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
  max-width: 450px;
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 1px solid rgba(17, 12, 46, 0.15);
  border-radius: 10px;
}

.formFields {
  margin: 30px 0px;
}

.formInputLabel {
  display: block;
  font-size: 15px;
  color: #111;
  margin: 10px 0px;
}

.input {
  width: 100%;
  padding: 10px;
  outline: 1px solid transparent;
  border-radius: 4px;
  border: 1px solid #888;
  font-size: 15px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 5px;
  width: 100%;
  padding: 12px;
  border: none;
  outline: 1px solid transparent;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #4c81ff;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.error {
  height: 20px;
  color: orangered;
  font-weight: 600;
  margin: 10px 0;
}
